#how-to > h1 {
    text-align: center;
}

#how-to {
    padding: 40px;
}
#how-to-one {
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
}
#left, #center, #right {
    margin-top: 10px;
}
#left {
    flex: 1;
    padding: 10px;
}

#center {
    flex: 1;
    padding: 10px;
    background: #00BDAA;
    color: #fff;
}
#right {
    flex: 1;
    padding: 10px;
}

.report-btn {
    background: #00BDAA;
    padding: 10px;
    border: 0;

}

/*

@media only screen and (min-width: 720px) {
    #how-to > h1 {
        text-align: center;
    }
    
    #how-to {
        padding: 40px;
    }
    #how-to-one {
        width: 85%;
        margin: 0 auto;
        height: 300px;
        display: flex;
        flex-direction: row;
        box-shadow: 1px 2px 5px #00BDAA;
    }
    #left {
        flex: 1;
        padding: 10px;
    }
    
    #center {
        flex: 1;
        padding: 10px;
        background: #00BDAA;
        color: #fff;
    }
    #right {
        flex: 1;
        padding: 10px;
    }
} 
*/