  
body {
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
}
  
  #header {
    margin: 0;
    padding: 10px 10px;
    background: #00BDAA;
    color: #F2FCFB;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #header li {
    padding: 5px;
  }

  #header li:nth-child(1){
    color: yellow;
    font-weight: bolder;
  }

@media only screen and (min-width: 720px) {
    #header {
      flex-direction: row;
      display: flex;
    }
    
      #header li {
    padding: 5px;
    margin: 15px;
    flex: 0 0 auto;
  }
    
    #header li:nth-child(1){
      margin-right: auto;
    }
  
  
   
} 
